body{
    background-color: whitesmoke;
    height: 2320px;
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
    padding : 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box
}

av{
    background: #ffffff;
    height: 80px;
    width: 100%;
}

label.logo{
    color : black;
    font-size: 35px;
    line-height: 80px;
    padding: 0 60px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 350px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 12px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: none;
}

a.active,a:hover{
    background: #e7e9ea;
    transition: .5s;
}
.main-div{
    width: 100%;
    background-color: #D9D9D9;
    height: 637px;
}
.Hotel-image{
    width: 500px;
    border-radius: 8px;
    background-color: #D9D9D9;
    height: 300px;
    margin-bottom: 30px;
    margin-right: 800px;
    margin-left: 40px;
}



.Hotel {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.Hotels{
    display: flex;
    justify-content: center;
    justify-items: center;
}
